<link rel="stylesheet" href="/css/comment.css">

<li id="comment">
    <p>
    
      <%= comment.content %>

      <% if(locals.user && locals.user.id == comment.user.id){ %>
      <small>
             <a href="/comments/destroy/<%= comment.id %>"  class="delete-comment-button">
              <i class="fas fa-trash-alt"></i>
            </a>
      </small> 
      <% } %>

      <br>
      <small>
            <%= comment.user.name %>
      </small> 




      <small>
        <% if (locals.user){ %>

          <a class="toggle-like-button" href="/likes/toggle/?id=<%= comment._id%>&type=Comment" data-likes="<%= comment.likes.length %>">
            <!-- <i class="far fa-heart"></i>&nbsp -->
            <%= comment.likes.length %> Likes
          </a>
         

        <% }else{ %>
           <!-- <i class="far fa-heart"></i>&nbsp<%= comment.likes.length %>-->
           <%= comment.likes.length %> Likes
        <% } %>
      </small>

    </p>

</li>