<script src="https://kit.fontawesome.com/1fea76eb58.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="<%= assetPath('css/post.css') %>">

<li id="post-<%= post._id %>">         
 <div class="main-post-div">   
  <p>
    <span id="post-content"><%= post.content %></span>


    <small id="like-post">
      <% if (locals.user){ %>
         <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                 <span><%= post.likes.length %>&nbsp&nbsp<i class="far fa-heart"></i></span>
         </a>
      <% }else{ %>
          <span><%= post.likes.length %>&nbsp&nbsp<i class="far fa-heart"></i></span> 
      <% } %>
    </small>

    
    <% if(locals.user && locals.user.id == post.user.id){ %>
      <small>
        <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">
          <i class="fas fa-trash-alt"></i>
        </a>
      </small>
    <% } %> 
   
    <br>
   
   
    <small>
      <%= post.user.name%>   
    </small>    

    <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, 
    else, just show the count -->
  </p>
     

    <div class="post-comments">
      <% if(locals.user){ %>
      <form action="/comments/create" method="POST" id="new-comment-form">
        <input type="text" name="content" placeholder="Type here to add comment.." required>
        <input type="hidden" name="post" value="<%= post._id%>">
        <button type="submit" class="Add-comment">
          Add
          <span>
            <i class="far fa-comment"></i>
          </span>
        </button>
      </form>
      <% } %>

    <div class="post-comments-list">
      <ul id="post-comments-<%= post._id %>">
          <% for(comment of post.comments){ %>

              <%- include('_comment') -%> 

          <% } %>
      </ul>
    </div> 

    </div>
  </div>
 </li> 