<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">

<div id="all-container">
    <div id="user-friend-Section">

      <section id="All-users">
          <h2>
            <span>
              <i class="fas fa-users"></i>
            </span>
            All Users
          </h2>
        
          <form action="/search" method="POST" id="new-search-form">
             <input type="text" name="user_friend" placeholder="Search" required style="color: rgb(5, 5, 5); padding-left: 10px;">
             <button type="submit"> <i class="fas fa-search"></i> </button>
          </form> 

          <div id="Search-container">  
            <ul>
  
            </ul>      
          </div>
      </section>




      <section id="User-friends">
          <h2>
            <span>
              <i class="fas fa-handshake"></i>
            </span>
            Friends
          </h2>

          <% if(locals.user){ %>
          <ul> 
            <% for(u of curr_user.friendships){ %>  
            <li>
               <p>
                  <% if(u.avatar){ %>
                  <img src="<%=u.avatar%>"> 

                  <% }else{ %>
                    <i class="fas fa-user-friends"></i>
                  <%}%>
 
                  <a class="chat-button" href="/users/chat/<%=u.id%>"><%= u.name %></a>
               </p>
            </li>
            <% } %>
          
          </ul>  
          <% } %>         
      </section>
    
    </div>    



    <section id="feed-posts"> 
  
          <p id="post-heading">
            <span>
              <i  class="far fa-list-alt"></i>
            </span>
            Posts
          </p>
          

            <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="POST" enctype="multipart/form-data">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here" required></textarea>
                <input type="file" name="pic" placeholder="Add pic" id="post-pic">
                <button type="submit">Post</button>   
            </form>
            <% } %> 
          
      
          <div id="posts-list-container">
                <ul>
                  <% for(post of posts){ %>
                  
                    <%- include('_post') -%>

                  <% } %> 
                </ul>
          </div>
    </section>
   

    <section id="user-features">
          <h2>
            <span>
              <i class="fas fa-icons"></i>
            </span>
            Features
          </h2>

          <p>
            <% if(locals.user){ %>
               <a href="/users/features/todo/<%=user.id%>">
                   <i class="fas fa-tasks"></i> 
                  
                   <span>
                       TODO List
                   </span>
               </a>
            <%}%>
          </p>


          <p>
            <% if(locals.user){ %>

               <a  href="/users/features/calculator">
                <i class="fas fa-calculator"></i>
                  <span>
                      CALCULATOR
                  </span>
              </a>
            <%}%>
          </p>
    </section>

    <%- include('_chat_box') -%>
</div>



<script src="<%= assetPath('js/post_comments.js') %>"></script> 
<script src="<%= assetPath('js/home_posts.js') %>"></script> 

<script src="<%= assetPath('js/toggle_likes.js') %>"></script>

<script>
  $('.toggle-like-button').each(function(){
      let self = this;
      let toggleLike = new ToggleLike(self);
  });
</script>

<script src="<%= assetPath('js/search.js') %>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>








<!-- sudo fuser -k 8000/tcp   for killing the process at a particular port
rm -rf social                 this will be used to delete the folder -->

<!-- 8Az4x5kX6xQNDsN -->
<!-- 54.198.186.255 -->

