<!-- <link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>"> -->

<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">

<div id="profile-section" >

      <% if(user.id == profile_user.id){ %>

         <div id="friend-requests">
            <h3>
               <span>
                  <i class="fas fa-user-plus" style="color: rgb(1, 92, 87);"></i>
               </span>
                &nbsp;Friend Requests
            </h3>


            <ol>
               <% for(i of profile_user.friendRequest){ %> 
                 <li>
                     <p><%= i.name %></p>
                     <p><%= i.email%></p>
 
                     <form action="/isfriend/friend/<%= i._id %>" method="POST" id="friend-form-id">
                        <input type="submit" name="friend" value="Confirm" id="submit1">
                        <input type="submit" name="reject" value="Reject" id="submit2">
                     </form>
                 </li>  
               <% } %>
            </ol>
         </div>
  

         <!-- if usr matches show the form  -->
         <div id="update-section">  
   
            <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name %>" width="300" height="200">

            <form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="POST">  
               <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
               <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>
               <input type="file" name="avatar" placeholder="Profile Picture">
               <input type="submit" value="Update" id="update-button">
            </form>  
         </div>
   

         <div id="friends-list">
            <h3>
               <span>
                  <i class="fas fa-user-friends" style="color:  rgb(1, 92, 87);;"></i>
               </span>
               &nbsp;Friends
            </h3>

            <ul>
               <% for(j of profile_user.friendships){ %>
                  <li> 
                     <small>
                        <% console.log(j._id); %>
                        <a href="/users/profile/<%=j.id%>"><%= j.name %></a>
                     </small>

                     <a href="/isfriend/destroy/<%= j._id%>" id="destroy-friend"> 
                        <i class="fas fa-trash-alt"></i>
                     </a>
                  </li>       
               <% } %>   
            </ul>
         </div>
   

      <% }else{ %>
         
         <!--else show the profile info-->
         <div id="user-details">
            <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name %>" width="300" height="200">   
            <p><%= profile_user.name%></p>
            <p><%= profile_user.email%></p>
 

            
            <form action="/isfriend" method="POST" id="is_friend_form">

                 <% if(k==2){ %>
                     <button type="submit" id="friend-button" style="background-color: rgb(169, 4, 65); color: white;">Unsend</button> 
                 <% } %> 

                 <% if(k==1){ %> 
                     <button type="submit" id="friend-button" style="background-color: rgb(7, 99, 102); color: white;">Friends</button> 
                 <% } %>    

                 <% if(k==0){ %>
                     <button type="submit" id="friend-button" style="background-color: rgb(41, 116, 72); color: white;">Req send</button> 
                 <% } %>  

                  <input type="hidden" name="profile_user" value="<%=profile_user.id%>">
            </form>   
           
         </div>

         <div id="friends-list">
            <h3>
               <span>
                  <i class="fas fa-user-friends" style="color:  rgb(1, 92, 87);;"></i>
               </span>
               &nbsp;Friends
            </h3>

            <ul>
               <% for(j of profile_user.friendships){ %>
                  <li> 
                     <small>
                        <% console.log(j._id); %>
                        <a href="/users/profile/<%=j.id%>"><%= j.name %></a>
                     </small>

                     <a href="/isfriend/destroy/<%= j._id%>" id="destroy-friend"> 
                        <i class="fas fa-trash-alt"></i>
                     </a>
                  </li>       
               <% } %>   
            </ul>
         </div>   


  
      <% } %>   
      
</div>


<script type="text/javascript" src="<%= assetPath('js/friend.js') %>"></script>





